<div class="twt-o twt-tweet h-entry twt-pinned twt-auto">
    <div class="h-card p-author">
        <a class="screen-name u-url"
           href="https://twitter.com/pmarca"
           target="_blank"
           data-screen-name="pmarca">
            <span class="avatar">
                <img src="https://pbs.twimg.com/profile_images/649108987128868864/rWnwMe55.jpg" class="u-photo" alt="">
            </span>
            <span class="p-name">Marc Andreessen</span>
            <span class="p-nickname">@<b>pmarca</b></span>
        </a>
    </div>
    <div class="e-content">
        <p class="p-name" data-bind="text: text"></p>
    </div>
</div>
